#page_404 {
    padding: 120px 0;
  background: linear-gradient(107.29deg, #1c293f -0.36%, #161f33 98.58%);
  .error_banner {
    .error_img {
      text-align: center;
    }
    .error_text {
        text-align: center;
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: $lightColor;
        margin-left: 10px;
      }
      p{
        margin: auto;
        width: 380px;
        line-height: 28px;
        color: $lightColor;
        margin-bottom: 40px;
      }
    }
  }
}
