// Blog banner section start
#Blog-banner {
  height: 400px;
  background-image: url(../images/breadcumb_bg_1.jpg);
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}
// Blog banner section end

// Blog slider section start
#blog-slider {
  padding-top: 100px;
  .blog_slider_item {
    position: relative;
    .blog_slider_arrows.fa-angle-left,
    .blog_slider_arrows.fa-angle-right {
      font-size: 24px;
      color: $lightColor;
      position: absolute;
      padding: 8px 10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
      background: $praimaryColor;
      transition: 0.5s;
    }
    .blog_slider_arrows.fa-angle-left {
      left: 0;
    }
    .blog_slider_arrows.fa-angle-right {
      right: 0;
    }
    .blog_slider_arrows:hover {
      background: $PrimaryColor3;
    }
  }

  .blog_item_one {
    padding: 40px 0px;
  }
  .blog_item_three {
    padding: 40px 0px;
    .blog_item_three_img {
      position: relative;
    }
  }
}
// Blog slider section end
