#nav {
  &.active {
    animation-name: fixedmenu;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    position: fixed;
    width: 100%;
    background: $lightColor;
    z-index: 999;
  }
  @keyframes fixedmenu {
    from {
      top: -100px;
    }
    to {
      top: 0px;
    }
  }
  #nav-menu {
    ul li {
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $TextColor;
        padding: 26px 15px;
        transition: 0.5s;
        position: relative;
        span {
          position: absolute;
          top: 28px;
          right: 0;
        }
        &:hover {
          color: $praimaryColor;
        }
      }
      &:hover {
        .sub_menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .sub_menu {
      display: initial !important;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: 21.5px;
        background-color: red;
      }
      li {
        a {
          padding: 8px 40px;
          &::after {
            content: "";
            position: absolute;
            background: $praimaryColor;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            line-height: 5px;
            border-radius: 50%;
            box-shadow: $shadow3;
          }
        }
      }
    }
  }
  .fa-icon {
    ul li a {
      display: inline-block;
      font-size: 16px;
      color: $PrimaryColor3;
      padding: 0px 12.5px;
      transition: 0.5s;
      &:hover {
        color: $praimaryColor;
      }
    }
  }
  #m-glass {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: transparent;
    border: none;
    transition: 0.5s;
    &:hover {
      color: $praimaryColor;
    }
  }
}
