/* extra extra large device */
@media (min-width: 1400px) {
}
/* extra large device */
@media (min-width: 1200px) and (max-width: 1399.98) {
}
/* large device */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* medium device */
@media (min-width: 768px) and (max-width: 991.98px) {
  #banner .banner_item .banner_slider h6 {
    margin-top: 180px;
  }
  #banner .banner_item .banner_slider h1,
  #banner .banner_item .banner_slider h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 20px 0 25px 0;
  }
  #banner .banner_item .banner_slider button {
    padding: 15px 30px;
  }
  #banner .banner_item .banner_slider {
    height: 770px;
  }
  .dots_style {
    bottom: 44%;
  }
  #offer .offer_info h3 {
    font-size: 20px;
    line-height: 46px;
  }
  #offer .offer_info p {
    font-size: 15px;
  }
  #offer .offer_info a {
    padding: 13px 25px;
  }
  .slider_item .product_info ins {
    font-size: 12px;
    line-height: 20px;
  }
  .slider_item .product_info del {
    font-size: 12px;
    line-height: 20px;
  }
  .slider_item .product_info h3 {
    font-size: 13px;
    line-height: 24px;
  }
  .slider_item .product_badge_overlay p {
    font-size: 12px;
    line-height: 20px;
  }
  .slider_item .product_badge_overlay {
    top: 11px;
    padding: 4px;
    width: 50px;
  }
  .slider_item .product_icon_overlay {
    top: 5px;
  }
  .slider_item .product_icon_overlay ul li a {
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .anchor a {
    font-size: 14px;
    line-height: 20px;
    padding: 13px 20px;
  }
  .heading h2 {
    font-size: 30px;
  }
  #deals_time .heading {
    padding-bottom: 10px;
  }
  #deals_time .deals_timer {
    padding: 5px 20px;
  }
  #deals_time .deals_timer span:first-child {
    font-size: 18px;
  }
  #deals_time .deals_timer span:last-child {
    font-size: 14px;
  }
  #deals_time .deals_timer .deals_timer_clone {
    font-size: 36px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text {
    padding: 30px 0 0 30px;
  }
  #deals .deals_slider .deals_slider_item {
    height: 360px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text h6 {
    font-size: 15px;
    line-height: 26px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text p {
    line-height: 20px;
    width: 230px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text span {
    margin-bottom: 22px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text span ins {
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text span del {
    font-size: 14px;
    line-height: 20px;
  }
  #special_offer .special_contant h5 {
    font-size: 14px;
    line-height: 20px;
  }
  #special_offer .special_contant h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  #special_offer .special_contant p {
    line-height: 24px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .play-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  #latest_news {
    padding: 70px 0;
  }
  #latest_news .latest_news_slider .latest_news_item .latest_news_inner-item {
    padding: 10px;
  }
  #latest_news
    .latest_news_slider
    .latest_news_item
    .latest_news_inner-item
    .latest_news_text
    h3 {
    font-size: 16px;
    line-height: 24px;
  }
  #latest_news
    .latest_news_slider
    .latest_news_item
    .latest_news_inner-item
    .latest_news_text
    p {
    line-height: 24px;
    font-size: 14px;
  }
  #latest_news
    .latest_news_slider
    .latest_news_item
    .latest_news_inner-item
    .latest_news_text
    a {
    font-size: 14px;
    line-height: 24px;
  }
  #latest_news .latest_news_slider .dots_style {
    bottom: -30px;
  }
  #promotion .promotion-inner-container {
    padding: 25px 0;
  }
  #promotion .promotion-inner-container .promotion-content .promotion-img {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  #promotion .promotion-inner-container .promotion-content .promotion-info h6 {
    font-size: 11px;
    line-height: 20px;
  }
  #promotion .promotion-inner-container .promotion-content .promotion-info p {
    line-height: 18px;
    font-size: 10px;
  }
  footer .mid h4 {
    font-size: 16px;
  }
  footer .mid .account a,
  footer .mid .Support a {
    font-size: 12px;
    line-height: 26px;
  }
  footer .mid .OpeningTime .date {
    font-size: 12px;
    line-height: 26px;
  }
  footer .mid .OpeningTime .time {
    line-height: 26px;
    font-size: 10px;
  }
  footer .mid .ContactUs p,
  footer .mid .ContactUs a {
    font-size: 12px;
  }
  footer .mid .NewsLetter p {
    line-height: 26px;
    padding-bottom: 16px;
    font-size: 12px;
  }
  footer .mid .NewsLetter .input-field input {
    padding: 0px 0px;
    width: 128px;
  }
  footer .mid .NewsLetter .input-field ::placeholder {
    font-size: 12px;
  }
  footer .mid .NewsLetter .subscrib button {
    padding: 5px 5px;
    font-size: 12px;
  }
  footer .bottom p {
    line-height: 26px;
    font-size: 12px;
  }
  #popup .popup_inner {
    width: 600px;
    height: 300px;
  }
  #popup .popup_inner .popup_heading h3 {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  #popup .popup_inner P:first-child {
    width: 560px;
    margin-bottom: 26px;
  }
  #popup .popup_inner P {
    line-height: 26px;
    font-size: 14px;
  }
  #popup .popup_inner .popup_input {
    margin-bottom: 20px;
  }
  #popup .popup_inner .popup_input input {
    width: 480px;
    height: 40px;
  }
  #popup .popup_inner .popup_input button {
    font-size: 12px;
    line-height: 30px;
    padding: 5px 20px;
  }
  .search-box .inner_container {
    left: 20%;
  }
  .search-box .inner_container .search-feild input {
    width: 480px;
    height: 60px;
  }
  .search-box .inner_container .search_btn button {
    top: 18px;
  }
  #Registation .user_details {
    padding: 30px 0px;
    width: 470px;
    height: 300px;
  }
  #Registation .user_details ul li button {
    padding: 6px 15px;
  }
  #Registation .user_details #user_Signin .username span {
    top: 14px;
  }
  #Registation .user_details #user_Signin .username input {
    padding: 8px 0px 8px 40px;
    margin: 5px 0px;
  }
  #Registation .user_details #user_Signin .pass span {
    top: 14px;
  }
  #Registation .user_details #user_Signin .pass input {
    padding: 8px 50px 8px 40px;
    margin: 5px 0px;
  }
  #Registation .user_details #user_Signin a {
    margin-bottom: 5px;
    font-size: 14px;
  }
  #Registation .user_details #user_Signin p {
    margin-bottom: 5px;
    font-size: 14px;
  }
  #Registation .user_details #user_Signin button {
    font-size: 16px;
  }
  #Registation .user_details #user_singup .ConfirmPass input {
    padding: 8px 50px 8px 40px;
    margin: 5px 0px;
  }
  #Registation .user_details #user_singup .ConfirmPass span {
    top: 14px;
  }
}
/* small device */
@media (min-width: 576px) and (max-width: 767.98px) {
  #banner .banner_item .banner_slider {
    height: 650px;
  }
  #banner .banner_item .banner_slider h6 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 140px;
  }
  #banner .banner_item .banner_slider h1,
  #banner .banner_item .banner_slider h2 {
    font-size: 36px;
    line-height: 30px;
    margin: 20px 0 25px 0;
  }
  #banner .banner_item .banner_slider p {
    line-height: 26px;
    width: 430px;
    margin-bottom: 30px;
    font-size: 14px;
  }
  #banner .banner_item .banner_slider button {
    font-size: 14px;
    line-height: 24px;
    padding: 12px 20px;
  }
  .dots_style {
    bottom: 47%;
  }
  #feature .feature-img .feature-img-overlay h3 {
    font-size: 16px;
    line-height: 30px;
  }
  #feature .feature-img .feature-img-overlay {
    inset: 12px;
  }
  #feature .feature-img .feature-img-overlay a {
    font-size: 14px;
  }
  .slider_item .product_info ins {
    font-size: 10px;
  }
  .slider_item .product_info del {
    font-size: 10px;
  }
  .slider_item .product_info h3 {
    font-size: 9px;
    line-height: 24px;
  }
  .slider_item .product_badge_overlay {
    top: 8px;
    width: 45px;
  }
  .slider_item .product_badge_overlay p {
    font-size: 12px;
    line-height: 22px;
  }
  #nap .nap_slider_arrow.fa-angle-left,
  #nap .nap_slider_arrow.fa-angle-right {
    font-size: 16px;
    padding: 5px 10px;
  }
  #offer .offer_info h3 {
    font-size: 15px;
    line-height: 30px;
    padding-top: 80px;
  }
  #offer .offer_info p {
    line-height: 22px;
    font-size: 12px;
  }
  #offer .offer_info a {
    font-size: 15px;
    line-height: 26px;
    padding: 10px 24px;
    margin-top: 30px;
  }
  #offer {
    height: 440px;
  }
  #bsp {
    padding: 100px 0 77px 0;
  }
  .heading h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .slider_item .product_badge_overlay {
    width: 36px;
  }
  .slider_item .product_badge_overlay {
    padding: 4px;
  }
  .anchor a {
    font-size: 15px;
    padding: 10px 24px;
  }
  #deals_time .heading {
    padding-bottom: 30px;
  }
  #deals_time .deals_timer {
    padding: 8px 150px;
  }
  #deals_time .deals_timer span:first-child {
    font-size: 14px;
  }
  #deals_time .deals_timer span:last-child {
    font-size: 12px;
  }
  #deals_time .deals_timer .deals_timer_clone {
    font-size: 26px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text h6 {
    font-size: 14px;
    line-height: 24px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text {
    padding: 30px 0 0 25px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text h3 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text p {
    line-height: 20px;
    width: 140px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text span ins {
    font-size: 16px;
    line-height: 24px;
    margin-right: 12px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text span {
    margin-bottom: 28px;
  }
  #deals .deals_slider .deals_slider_item {
    height: 400px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text span {
    margin-bottom: 20px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text span ins {
    font-size: 14px;
    line-height: 16px;
  }
  #deals .deals_slider .deals_slider_item .deals_slider_text span del {
    font-size: 14px;
    line-height: 16px;
  }
  #special_offer {
    padding: 70px 0;
  }
  #special_offer .special_contant h5 {
    font-size: 14px;
    line-height: 18px;
  }
  #special_offer .special_contant h2 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  #special_offer .special_contant p {
    line-height: 24px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  #latest_news {
    padding: 80px 0;
  }
  #latest_news .heading {
    padding-bottom: 50px;
  }
  #latest_news .latest_news_slider .latest_news_item {
    margin: 0 6px;
  }
  #latest_news .latest_news_slider .latest_news_item .latest_news_inner-item {
    padding: 15px;
  }
  #latest_news
    .latest_news_slider
    .latest_news_item
    .latest_news_inner-item
    .latest_news_text
    h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0 2px 0;
  }
  #latest_news
    .latest_news_slider
    .latest_news_item
    .latest_news_inner-item
    .latest_news_text
    p {
    line-height: 22px;
    margin-bottom: 4px;
    font-size: 12px;
  }
  #latest_news
    .latest_news_slider
    .latest_news_item
    .latest_news_inner-item
    .latest_news_text
    a {
    font-size: 10px;
    line-height: 18px;
  }
  #latest_news
    .latest_news_slider
    .latest_news_item
    .latest_news_inner-item
    .latest_news_text
    p {
    line-height: 18px;
    font-size: 10px;
  }
  #latest_news .latest_news_slider .dots_style {
    bottom: -30px;
  }
  #promotion .promotion-inner-container {
    padding: 30px 0;
  }
  #promotion .promotion-inner-container .promotion-content .promotion-img {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  #promotion .promotion-inner-container .promotion-content .promotion-info h6 {
    font-size: 10px;
  }
  #promotion .promotion-inner-container .promotion-content .promotion-info p {
    line-height: 15px;
    font-size: 8px;
  }
  footer .top .social-icon ul li {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  footer .top .social-icon ul li a {
    font-size: 12px;
  }
  footer .top {
    padding: 150px 0 40px 0;
  }
  footer .mid h4 {
    font-size: 13px;
    line-height: 28px;
    padding-bottom: 20px;
  }
  footer .mid .account a, footer .mid .Support a {
	font-size: 9px;
	line-height: 24px;
}
footer .mid .OpeningTime .date {
	font-size: 9px;
	line-height: 24px;;
}
footer .mid .OpeningTime .date {
	font-size: 9px;
	line-height: 24px;
}
footer .mid .ContactUs span:nth-child(2n) {
	padding-top: 32px;
}
footer .mid .ContactUs p, footer .mid .ContactUs a {
	font-size: 9px;
	line-height: 0px;
}
footer .mid .ContactUs span {
	line-height: 22px;
	font-size: 10px;
}
footer .mid .NewsLetter p {
	line-height: 22px;
	padding-bottom: 20px;
	font-size: 10px;
}

}
/* extra small device */
@media (max-width: 575.98) {
}
